In [5]:
#lists

l=['chennai-porur','mphasis','new']
l[0]
l.insert(1,'niv') #position,value 
l

['chennai-porur', 'niv', 'mphasis', 'new']

In [6]:
l[0][8:]
print(l.index('niv'))

1

In [7]:
del l[0]
print(l)

['niv', 'mphasis', 'new']

In [ ]:
l1=[1,6,8,9,43,5]
(l1.sort())
l1=l1+[20,30]
l1
l1.extend([100,200])
l1 
l1[::-2] #starts from back and skips 1 value like 2 - 1 , 3 - 2...

[200, 30, 43, 8, 5]

In [16]:
l3=['h1','h2'] * 2
l3

['h1', 'h2', 'h1', 'h2']

In [20]:
l=list(map(int,input().split()))
print(l[:(len(l)//2)]+(l[len(l)//2:])[::-1])

[1, 2, 3, 4, 9, 8, 7, 6, 5]

In [22]:
l1=[]
for i in range(2,51):
    c=0
    for j in range(2,i//2 + 1):
        if i%j==0:
            c+=1
    if c==0:
        l1.append(i)
print(l1)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [26]:
#tuple 
#inmutuable can't update we can't add 

t=(1,2,3,[1,2,3])
t[3]
l=list(t)
l1=[1,2,3,[4,5,6]]
t=tuple(l1)
t

(1, 2, 3, [4, 5, 6])

In [ ]:
n=['a','b','c','d','e']
p=[10000,20000,30000,40000,50000]
r=[5,5,5,5,5]
t=[2,2,2,2,2]
si=[]
for i in range(len(n)):
    am= (p[i]*r[i]*t[i])/100
    si.append(am)
for i in range(len(si)):
    print(f'The SI ammount of {n[i]} is {si[i]} with principal amount of {p[i]} with rate of {r[i]} percent of {t[i]} years')

The SI ammount of a is 1000.0 with principal amount of 10000 with rate of 5 of 2 years
The SI ammount of b is 2000.0 with principal amount of 20000 with rate of 5 of 2 years
The SI ammount of c is 3000.0 with principal amount of 30000 with rate of 5 of 2 years
The SI ammount of d is 4000.0 with principal amount of 40000 with rate of 5 of 2 years
The SI ammount of e is 5000.0 with principal amount of 50000 with rate of 5 of 2 years

In [1]:
l=list(map(int,input().split()))
t=int(input())
d={}
for i in range(len(l)):
    c=t-l[i]
    if c in d:
        print(d[c],i)
    else:
        d[l[i]]=i

1 2
0 3

In [43]:
#shallow copy or copy that is list_name.copy()

a=[1,2,3]
b=a.copy()
b.append(3)
print(a,b)

a=[1,2,3,[4,5]]
b=a.copy()
b[3].append(6)
print(a,b)

[1, 2, 3] [1, 2, 3, 3]
[1, 2, 3, [4, 5, 6]] [1, 2, 3, [4, 5, 6]]

In [44]:
#deep copy is used when there are nested lists 

import copy

a=[1,2,3,[4,5]]
b=copy.deepcopy(a)
b[3].append(6)
print(a,b)

[1, 2, 3, [4, 5]] [1, 2, 3, [4, 5, 6]]

In [ ]:
original_list = [1, 2, 3,[4,5]]
copied_list = original_list[:]

[1, 2, 3, [4, 5]] [1, 2, 3, [4, 5]]

In [48]:
l=[0,1,2,3,4,5,6,7,8]
print(l[::2],l[1::2])

[0, 2, 4, 6, 8] [1, 3, 5, 7]

In [ ]:
#dictionaries 
#values can be duplicated not keys

d={'name':'abc','std': 2,'name': 'def'}
d

{'name': 'def', 'std': 2}

In [ ]:
l=[]
for i in range(3):
    m=input()
    l.append(m)
print(l)

In [51]:
l=[1,2,3]
l2=[4,5,6]
d={}
for i,j in zip(l,l2):
    d[i]=j
d

{1: 4, 2: 5, 3: 6}

In [ ]:
l=[1,2,3]
l2=[4,5,6]
z=zip(l,l2)
print(dict(z))

{1: 4, 2: 5, 3: 6}

In [53]:
l=[1,2,3]
l2=[4,5,6]
z=list(zip(l,l2))
print(z)

[(1, 4), (2, 5), (3, 6)]

In [54]:
d={'name':'abc','std': 2,'name': 'def','class':'ece'}
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['name', 'std', 'class'])
dict_values(['def', 2, 'ece'])
dict_items([('name', 'def'), ('std', 2), ('class', 'ece')])

In [55]:
l=[1,2,3]
l2=[4,5,6]
z=zip(l,l2)
print(tuple(z))

((1, 4), (2, 5), (3, 6))

In [57]:
l1=['first','last','hello','world','things','number','kaduvule','stanley','wild','kubrick']
d={}
for i in l1:
    d[i]=len(i)
d

{'first': 5,
 'last': 4,
 'hello': 5,
 'world': 5,
 'things': 6,
 'number': 6,
 'kaduvule': 8,
 'stanley': 7,
 'wild': 4,
 'kubrick': 7}

In [65]:
l='The working of the filter function is a way of implementing the if-else condition in python. Filter function is mainly used for filtering function. The main function for this filter function will check the condition in the form of Boolean values and then print all the elements which are identified as true element in the sequence.'
l=l.split()
d={}
for i in l:
    if i in d:
        d[i]+=1 
    else:
        d[i]=1 
d

{'The': 2,
 'working': 1,
 'of': 3,
 'the': 6,
 'filter': 2,
 'function': 4,
 'is': 2,
 'a': 1,
 'way': 1,
 'implementing': 1,
 'if-else': 1,
 'condition': 2,
 'in': 3,
 'python.': 1,
 'Filter': 1,
 'mainly': 1,
 'used': 1,
 'for': 2,
 'filtering': 1,
 'function.': 1,
 'main': 1,
 'this': 1,
 'will': 1,
 'check': 1,
 'form': 1,
 'Boolean': 1,
 'values': 1,
 'and': 1,
 'then': 1,
 'print': 1,
 'all': 1,
 'elements': 1,
 'which': 1,
 'are': 1,
 'identified': 1,
 'as': 1,
 'true': 1,
 'element': 1,
 'sequence.': 1}

In [ ]:
#nested dictionaries 

d={
    1: {'name':'abc','std': 2,'name': 'def','class':'ece'},
    2: {'name':'abc','std': 2,'name': 'def','class':'ece'},
    3: [1,2,3,4],
    4: (1,2,3,4,5)  
}
d[1]['std']
d[3][2]
d[5]=[1,4,5] #(1,2,3)
d[6]={'name':'abc','std': 2,'name': 'def','class':'ece'}
d

{1: {'name': 'def', 'std': 2, 'class': 'ece'},
 2: {'name': 'def', 'std': 2, 'class': 'ece'},
 3: [1, 2, 3, 4],
 4: (1, 2, 3, 4, 5),
 5: [1, 4, 5],
 6: {'name': 'def', 'std': 2, 'class': 'ece'}}

In [77]:
d1={'a':12,'b':9,'c': 16,'d':3}
d2={}
for i,j in enumerate(d1.items()):
    if j[1]>=10:
        d2[j[0]]=j[1]
d2

{'a': 12, 'c': 16}

In [78]:
n=int(input())
print(n)

ValueError: invalid literal for int() with base 10: '5.5'

In [86]:
import numpy as np
d1={'a':12,'b':9,'c': 16,'d':3}
print(min(d1.values()))
print(max(d1.values()))
print(np.average(d1.values()))

ModuleNotFoundError: No module named 'numpy'

In [89]:
#sets { }

#unions 

a={1,2,3,4}
b={3,4,5,6}
print(a | b) # | pipeline operator

print(a.union(b)) # another way using function

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [ ]:
#differnce 

a={1,2,3,4}
b={3,4,5,6}
print(a-b)
print(b-a)
print(a.difference(b))
print(b.difference(a))

{1, 2}
{5, 6}
{1, 2}
{5, 6}

In [92]:
#symmetric difference 

a={1,2,3,4}
b={3,4,5,6}

print(a^b)
print(b^a)
print(a.symmetric_difference(b))
print(b.symmetric_difference(a))

{1, 2, 5, 6}
{1, 2, 5, 6}
{1, 2, 5, 6}
{1, 2, 5, 6}

In [100]:
#issubset

set_a = {1, 2, 3, 4,5}
set_b = {3, 4, 5}

# Check if set_a is a subset of set_b
is_subset = set_b.issubset(set_a)
print(is_subset)

True

In [108]:
#issuperset 


set_a = {1, 2, 3}
set_b = {3}
c=set_a.issuperset(set_b)
print(c)
set_a.remove(3)
print(set_a)

True
{1, 2}

In [ ]:
#update function

set_a = {1, 2, 3}
set_b = {3,4,5}
set_a |= set_b # or set_a.update(set_b)
set_a

{1, 2, 3, 4, 5}

In [112]:
a='hello world'
m=''
for i in a:
    if i.lower() not in 'aeiou':
        m+=i 
m

'hll wrld'

In [ ]:
#without * operator 

a=15
b=5
c=0
for i in range(min(a,b)):
    c+=max(a,b)
c

#using bitwise
# def multiply(a, b):
#     result = 0
#     while b != 0:
#         if b & 1:
#             result += a
#         a <<= 1 #leftshift
#         b >>= 1 #rightshift
#     return result

# # Example usage
# print(multiply(5, 3))  # Output: 15
# print(multiply(-5, 3))

75

In [1]:
a=3 
b=5 
r=0
while b!=0:
    if b & 1:
        r+=a 
    a<<=1 
    b>>=1 
print(r)

15