# List Comprehension

In [5]:
l =[ u for  u in range(1,1000) if u%7==0]
l

[7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 77,
 84,
 91,
 98,
 105,
 112,
 119,
 126,
 133,
 140,
 147,
 154,
 161,
 168,
 175,
 182,
 189,
 196,
 203,
 210,
 217,
 224,
 231,
 238,
 245,
 252,
 259,
 266,
 273,
 280,
 287,
 294,
 301,
 308,
 315,
 322,
 329,
 336,
 343,
 350,
 357,
 364,
 371,
 378,
 385,
 392,
 399,
 406,
 413,
 420,
 427,
 434,
 441,
 448,
 455,
 462,
 469,
 476,
 483,
 490,
 497,
 504,
 511,
 518,
 525,
 532,
 539,
 546,
 553,
 560,
 567,
 574,
 581,
 588,
 595,
 602,
 609,
 616,
 623,
 630,
 637,
 644,
 651,
 658,
 665,
 672,
 679,
 686,
 693,
 700,
 707,
 714,
 721,
 728,
 735,
 742,
 749,
 756,
 763,
 770,
 777,
 784,
 791,
 798,
 805,
 812,
 819,
 826,
 833,
 840,
 847,
 854,
 861,
 868,
 875,
 882,
 889,
 896,
 903,
 910,
 917,
 924,
 931,
 938,
 945,
 952,
 959,
 966,
 973,
 980,
 987,
 994]

In [4]:
m= [ i for i in range(1,1000) if '3' in str(i)]
m

[3,
 13,
 23,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 43,
 53,
 63,
 73,
 83,
 93,
 103,
 113,
 123,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 143,
 153,
 163,
 173,
 183,
 193,
 203,
 213,
 223,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 243,
 253,
 263,
 273,
 283,
 293,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 403,
 413,
 423,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 443,
 453,
 463,
 473,
 483,
 493,
 503,
 513,
 523,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 543,
 553,
 563,
 573,
 583,
 593,
 603,
 613,
 623,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 643,
 653,
 663,
 673,
 683,
 693,
 703,
 713,
 723,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 743,
 753,
 763,
 773,
 783,
 793,
 803,
 813,
 823,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 843,
 853,
 863,
 873,
 883,
 893,
 903,
 913,
 923,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 943,
 953,
 963,
 973,
 983,
 993]

In [13]:
s='hasdfuj hjafsd jgdasukbn        guksdgbjb'
m=0
q= [m+1 for i in s if i==' ']
print(sum(q))
len(q)

10

10

In [16]:
k= [ i for i in 'Yellow yaks like yelling and yaming and yestarday they yolded whi9le using yuky yams' if i not in 'aeiouAEIOU' and i!=' ']
k

['Y',
 'l',
 'l',
 'w',
 'y',
 'k',
 's',
 'l',
 'k',
 'y',
 'l',
 'l',
 'n',
 'g',
 'n',
 'd',
 'y',
 'm',
 'n',
 'g',
 'n',
 'd',
 'y',
 's',
 't',
 'r',
 'd',
 'y',
 't',
 'h',
 'y',
 'y',
 'l',
 'd',
 'd',
 'w',
 'h',
 '9',
 'l',
 's',
 'n',
 'g',
 'y',
 'k',
 'y',
 'y',
 'm',
 's']

In [23]:
x=['hi',1,4,5,'apple',('t','b')]
k=[(i,x[i]) for i in range(len(x)) ]
k

[(0, 'hi'), (1, 1), (2, 4), (3, 5), (4, 'apple'), (5, ('t', 'b'))]

In [21]:
x=[1,2,3,4,5]
y=[2,4,5,6,2]
z=[x[i] for i in range(len(x)) if x[i] in y]
z

[2, 4, 5]

In [32]:
s='In 1984 there were 13 instances of a protest with over 1000 people attending'
m=[i for i in s.split()]
print(m)
l= [i for i in m if i.isdigit()]
print(l)

['In', '1984', 'there', 'were', '13', 'instances', 'of', 'a', 'protest', 'with', 'over', '1000', 'people', 'attending']
['1984', '13', '1000']

In [33]:
l=['even' if i%2==0 else 'odd' for i in range(1,20)]
l

['odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd']

In [ ]:
m=[1,2,3]
k=[1,3,4,5,6]
l=(m[i],k[i] for i in range(len(m)) if m[i] in k)
l=[(m[i],k[i]) if len(m)==min(len(m),len(k)) and m[i]==k[i] else (m[i],k[i]) if k[i]==m[i] else 'not match' for i in range(min(len(m),len(k))) ]
l

[(1, 1), 'not match', 'not match']

In [47]:
s='niafjds hsgdvjb hsvgj hgsdv svd hsgd hvb gv hb'
l=[ i for i in s.split() if len(i)<4]
l

['svd', 'hvb', 'gv', 'hb']

In [56]:
l=[[(i,j) for j in range(2,9) if i%j==0] for i in range(1,1000)]
l

m=[i for i in range(1,100) if True in [True for x in range(2,9) if i%x==0]]
m

[2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 21,
 22,
 24,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 38,
 39,
 40,
 42,
 44,
 45,
 46,
 48,
 49,
 50,
 51,
 52,
 54,
 55,
 56,
 57,
 58,
 60,
 62,
 63,
 64,
 65,
 66,
 68,
 69,
 70,
 72,
 74,
 75,
 76,
 77,
 78,
 80,
 81,
 82,
 84,
 85,
 86,
 87,
 88,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 98,
 99]

# DICT COMPREHENION

In [ ]:
# two lists to dict is done by comprehension

l1=['a','b','c']
l2=[1,3,4]
d={l1[i]:l2[i] for i in range(len(l1))}
d

{'a': 1, 'b': 3, 'c': 4}

In [73]:
d={'a':1 , 'b': 2}
x={v:i for i,v in zip(d.keys(),d.values())}
x

m={v:i for i,v in d.items()}
m

{1: 'a', 2: 'b'}

In [147]:


s='banana'
x=0
d={i:s.count(i) for i in s}
d

# m={i:(0 if i not in m else m[i]+=1) for i in s}
# m

{'b': 1, 'a': 3, 'n': 2}

# MAP

In [80]:
l=[2.3,4]

def area(a):
    return a*a 
print(tuple(map(area,(1,2.4))))

(1, 5.76)

# FILTER

In [ ]:
def is_even(num):
    return num % 2 == 0

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_numbers = list(filter(is_even, numbers))
print(filtered_numbers)

In [ ]:
mixed_list = [0, 1, False, True, '', 'Hello']
filtered_list = list(filter(None, mixed_list))
print(filtered_list)

# REDUCE

In [ ]:
from functools import reduce

# Function to add two numbers
def add(x, y):
    return x + y

a = [1, 2, 3, 4, 5]
res = reduce(add, a)

print(res)

In [88]:
def square(a):
    return a*a 

list(map(square,[4]))
list(map(lambda x:x*x,[4]))

[16]

In [93]:
s=['nivas']

print(*list(map(lambda x: x.upper(),s)))

NIVAS

In [95]:
a=[1,2,3,4]
b=[3,567,8,5]
c=list(map(lambda x,y: x+y,a,b))
print(c)

[4, 569, 11, 9]

In [101]:
a=[1,2,3,4]
b=[3,567,8,5]
c=[4,569,11,9]
print(*tuple(map(lambda x,y,z: x+y+z,a,b,c)))

8 1138 22 18

In [104]:
a=[1,2,3,4,5,6]
print(list(filter(lambda f: f%2==0,a)))

[2, 4, 6]

In [105]:
a='nlsahd jehgrfnlk djhflkh hjdf kljsdhf nih mjn hj h jdhf uyhr'
print(list(filter(lambda x: len(x)>4,a.split())))

['nlsahd', 'jehgrfnlk', 'djhflkh', 'kljsdhf']

In [112]:
l=['',' ','sdulshd',123]
print(list(filter(lambda x: x!='',l)))

[' ', 'sdulshd', 123]

In [122]:
def check(x):
    for i in range(2,x):
        if x%i!=0:
            return True
        return False


l=[2,3,4,5,6]
print(list(filter(check,l)))

[3, 5]

In [123]:
from functools import reduce

l=['nivas','jsdgy','ajsdkg']
print(reduce(lambda a,b: a+b,l))

nivasjsdgyajsdkg

In [128]:
l=[54,425412,54,51321,5640,54105,0,212,0]
print(reduce(lambda a,b: a if a>b else b,l))

425412

# HASHH

In [133]:
import hashlib

hash('1,2,3')

hash('abc')

hash('1,2,3')

245772043337665730

In [134]:
print(hashlib.algorithms_available)
print(hashlib.algorithms_guaranteed)

{'sha384', 'sha512_256', 'sha224', 'md5-sha1', 'md5', 'sha3_256', 'sha1', 'sha3_384', 'sha512_224', 'shake_256', 'ripemd160', 'blake2b', 'sha3_224', 'sm3', 'shake_128', 'sha256', 'sha3_512', 'blake2s', 'sha512'}
{'sha384', 'sha3_224', 'sha3_384', 'md5', 'shake_128', 'sha224', 'sha256', 'sha3_256', 'shake_256', 'sha1', 'blake2s', 'sha3_512', 'blake2b', 'sha512'}

In [135]:
h=hashlib.new('sha256')
h.update(b'abc')
print(h.digest())
print(h.hexdigest())

b'\xbax\x16\xbf\x8f\x01\xcf\xeaAA@\xde]\xae"#\xb0\x03a\xa3\x96\x17z\x9c\xb4\x10\xffa\xf2\x00\x15\xad'
ba7816bf8f01cfea414140de5dae2223b00361a396177a9cb410ff61f20015ad

In [137]:
h=hashlib.new('sha256')
k='Mypas6785'
h.update(k.encode())
p_hash=h.hexdigest()
print(p_hash)

142fb76d0836a41ae9faa5dba2b6680ce63eeba577c89a34c3870e18b4dae1f0

In [138]:
k='Mypas6785'
h=hashlib.new('sha256')
h.update(k.encode())
k_hash=h.hexdigest()
print(k_hash)

142fb76d0836a41ae9faa5dba2b6680ce63eeba577c89a34c3870e18b4dae1f0

# STATISTIC MODULE

In [141]:
import numpy

l=[1, 3, 5, 7, 9, 11, 13]
print(numpy.average(l))

ModuleNotFoundError: No module named 'numpy'

In [142]:
pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Collecting numpy
  Downloading numpy-2.2.4-cp312-cp312-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.8 kB ? eta -:--:--
     --------------------------------- ------ 51.2/60.8 kB ? eta -:--:--
     -------------------------------------- 60.8/60.8 kB 648.8 kB/s eta 0:00:00
Downloading numpy-2.2.4-cp312-cp312-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ---------------------------------------- 0.1/12.6 MB 2.2 MB/s eta 0:00:06
    --------------------------------------- 0.2/12.6 MB 1.5 MB/s eta 0:00:09
    --------------------------------------- 0.2/12.6 MB 1.4 MB/s eta 0:00:09
    --------------------------------------- 0.3/12.6 MB 1.5 MB/s eta 0:00:09
   - -------------------------------------- 0.4/12.6 MB 1.4 MB/s eta 0:00:09
   - -------------------------------------- 0.5/12.6 MB 1.4 MB/s eta 0:00:09
   - -------------------------------------- 0.5/12.6 MB 1.4 MB/s eta 0:00:09
   - -------------------------------------- 0.5/12.6 MB 1.2 MB/s eta 0:00:10
   - -------------------------------------- 0.6/12.6 MB 1.2 MB/s eta 0:00:10
   -- ------------------------------------- 0.6/12.6 MB 1.3 MB/s eta 0:00:10
   -- ------------------------------------- 0.6/12.6 MB 1.3 MB/s eta 0:00:10
   -- ------------------------------------- 0.7/12.6 MB 1.2 MB/s eta 0:00:10
   -- ------------------------------------- 0.8/12.6 MB 1.2 MB/s eta 0:00:10
   -- ------------------------------------- 0.8/12.6 MB 1.2 MB/s eta 0:00:10
   -- ------------------------------------- 0.8/12.6 MB 1.2 MB/s eta 0:00:11
   -- ------------------------------------- 0.9/12.6 MB 1.2 MB/s eta 0:00:11
   --- ------------------------------------ 1.0/12.6 MB 1.2 MB/s eta 0:00:11
   --- ------------------------------------ 1.0/12.6 MB 1.2 MB/s eta 0:00:10
   --- ------------------------------------ 1.0/12.6 MB 1.2 MB/s eta 0:00:10
   --- ------------------------------------ 1.1/12.6 MB 1.2 MB/s eta 0:00:10
   --- ------------------------------------ 1.2/12.6 MB 1.1 MB/s eta 0:00:11
   --- ------------------------------------ 1.2/12.6 MB 1.2 MB/s eta 0:00:10
   --- ------------------------------------ 1.2/12.6 MB 1.2 MB/s eta 0:00:10
   ---- ----------------------------------- 1.3/12.6 MB 1.1 MB/s eta 0:00:11
   ---- ----------------------------------- 1.3/12.6 MB 1.1 MB/s eta 0:00:11
   ---- ----------------------------------- 1.4/12.6 MB 1.1 MB/s eta 0:00:11
   ---- ----------------------------------- 1.4/12.6 MB 1.1 MB/s eta 0:00:11
   ---- ----------------------------------- 1.5/12.6 MB 1.1 MB/s eta 0:00:11
   ---- ----------------------------------- 1.5/12.6 MB 1.1 MB/s eta 0:00:11
   ---- ----------------------------------- 1.5/12.6 MB 1.1 MB/s eta 0:00:11
   ----- ---------------------------------- 1.6/12.6 MB 1.1 MB/s eta 0:00:11
   ----- ---------------------------------- 1.7/12.6 MB 1.1 MB/s eta 0:00:11
   ----- ---------------------------------- 1.7/12.6 MB 1.1 MB/s eta 0:00:11
   ----- ---------------------------------- 1.7/12.6 MB 1.1 MB/s eta 0:00:11
   ----- ---------------------------------- 1.8/12.6 MB 1.1 MB/s eta 0:00:11
   ----- ---------------------------------- 1.9/12.6 MB 1.1 MB/s eta 0:00:10
   ----- ---------------------------------- 1.9/12.6 MB 1.1 MB/s eta 0:00:10
   ------ --------------------------------- 1.9/12.6 MB 1.1 MB/s eta 0:00:10
   ------ --------------------------------- 2.0/12.6 MB 1.1 MB/s eta 0:00:10
   ------ --------------------------------- 2.1/12.6 MB 1.1 MB/s eta 0:00:10
   ------ --------------------------------- 2.1/12.6 MB 1.1 MB/s eta 0:00:10
   ------ --------------------------------- 2.1/12.6 MB 1.1 MB/s eta 0:00:10
   ------ --------------------------------- 2.2/12.6 MB 1.1 MB/s eta 0:00:10
   ------ --------------------------------- 2.2/12.6 MB 1.1 MB/s eta 0:00:10
   ------- -------------------------------- 2.3/12.6 MB 1.1 MB/s eta 0:00:10
   ------- -------------------------------- 2.3/12.6 MB 1.1 MB/s eta 0:00:10
   ------- -------------------------------- 2.3/12.6 MB 1.0 MB/s eta 0:00:10
   ------- -------------------------------- 2.3/12.6 MB 1.0 MB/s eta 0:00:10
   ------- -------------------------------- 2.4/12.6 MB 1.0 MB/s eta 0:00:10
   ------- -------------------------------- 2.5/12.6 MB 1.0 MB/s eta 0:00:10
   -------- ------------------------------- 2.5/12.6 MB 1.0 MB/s eta 0:00:10
   -------- ------------------------------- 2.6/12.6 MB 1.0 MB/s eta 0:00:10
   -------- ------------------------------- 2.8/12.6 MB 1.1 MB/s eta 0:00:09
   --------- ------------------------------ 2.9/12.6 MB 1.1 MB/s eta 0:00:09
   --------- ------------------------------ 2.9/12.6 MB 1.1 MB/s eta 0:00:09
   --------- ------------------------------ 3.0/12.6 MB 1.1 MB/s eta 0:00:09
   ---------- ----------------------------- 3.3/12.6 MB 1.2 MB/s eta 0:00:08
   ----------- ---------------------------- 3.6/12.6 MB 1.3 MB/s eta 0:00:08
   ------------- -------------------------- 4.1/12.6 MB 1.5 MB/s eta 0:00:06
   -------------- ------------------------- 4.7/12.6 MB 1.6 MB/s eta 0:00:05
   ---------------- ----------------------- 5.3/12.6 MB 1.8 MB/s eta 0:00:05
   ------------------ --------------------- 5.8/12.6 MB 2.0 MB/s eta 0:00:04
   -------------------- ------------------- 6.3/12.6 MB 2.1 MB/s eta 0:00:03
   --------------------- ------------------ 6.9/12.6 MB 2.3 MB/s eta 0:00:03
   ----------------------- ---------------- 7.5/12.6 MB 2.4 MB/s eta 0:00:03
   ------------------------- -------------- 8.0/12.6 MB 2.5 MB/s eta 0:00:02
   --------------------------- ------------ 8.6/12.6 MB 2.7 MB/s eta 0:00:02
   ---------------------------- ----------- 9.1/12.6 MB 2.8 MB/s eta 0:00:02
   ------------------------------ --------- 9.7/12.6 MB 2.9 MB/s eta 0:00:02
   -------------------------------- ------- 10.2/12.6 MB 3.1 MB/s eta 0:00:01
   ---------------------------------- ----- 10.8/12.6 MB 3.5 MB/s eta 0:00:01
   ----------------------------------- ---- 11.3/12.6 MB 4.1 MB/s eta 0:00:01
   ------------------------------------- -- 11.9/12.6 MB 5.3 MB/s eta 0:00:01
   ---------------------------------------  12.4/12.6 MB 7.0 MB/s eta 0:00:01
   ---------------------------------------  12.6/12.6 MB 8.3 MB/s eta 0:00:01
   ---------------------------------------  12.6/12.6 MB 8.3 MB/s eta 0:00:01
   ---------------------------------------  12.6/12.6 MB 8.3 MB/s eta 0:00:01
   ---------------------------------------  12.6/12.6 MB 8.3 MB/s eta 0:00:01
   ---------------------------------------  12.6/12.6 MB 8.3 MB/s eta 0:00:01
   ---------------------------------------  12.6/12.6 MB 8.3 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 7.0 MB/s eta 0:00:00
Installing collected packages: numpy
Successfully installed numpy-2.2.4
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [143]:
import numpy

l=[1, 3, 5, 7, 9, 11, 13]
print(numpy.average(l))

7.0

In [146]:
import statistics

l=[1, 3, 5, 7, 9, 11, 13]
print(statistics.fmean(l))
print(statistics.median(l))
print(statistics.mode(l))
print(statistics.stdev(l))

7.0
7
1
4.320493798938574

In [152]:
import time 

print(time.time())
print(time.ctime())
print(time.localtime())
print(time.gmtime())
print(time.strftime("%a, %d %b %Y %H:%M:%S", 
             time.localtime()))

time.perf_counter()
time.sleep(3)
time.perf_counter()

1744024289.2486608
Mon Apr  7 16:41:29 2025
time.struct_time(tm_year=2025, tm_mon=4, tm_mday=7, tm_hour=16, tm_min=41, tm_sec=29, tm_wday=0, tm_yday=97, tm_isdst=0)
time.struct_time(tm_year=2025, tm_mon=4, tm_mday=7, tm_hour=11, tm_min=11, tm_sec=29, tm_wday=0, tm_yday=97, tm_isdst=0)
Mon, 07 Apr 2025 16:41:29

546120.6493312

# TIMEIT

In [ ]:
import timeit

#time to check a number in a list 

# my_list=[i for i in range(1000)]


lt=timeit.timeit(stmt='500 in my_list',
                 setup='my_list = list(range(1000))',
                 number=10000)

#time to check a number in a set

st=timeit.timeit(stmt='500 in my_set',
                 setup='my_set=set(range(1000))',
                 number=10000)

print(lt)
print(st)

0.04678590002004057
0.0005187999922782183

In [166]:
def test():
    return sum([i for i in range(10000)])

import timeit 
print(timeit.timeit(test,number=10000))

5.379320900072344

In [ ]:
# calculate the time required to complete a Process 
# display current time every second 
# print the current and month 
# create a simple stopwatch

In [167]:
print(time.ctime())

Mon Apr  7 17:00:28 2025

In [175]:
for i in range(5):
    print(time.ctime())
    time.sleep(1)

Mon Apr  7 17:03:53 2025
Mon Apr  7 17:03:54 2025
Mon Apr  7 17:03:55 2025
Mon Apr  7 17:03:56 2025
Mon Apr  7 17:03:57 2025

In [177]:

s=time.localtime()
print(s.tm_year,s.tm_mon)
print(time.strftime('%m''%y',time.localtime()))

2025 4
0425

In [178]:
a=input()
start=time.perf_counter()
b=input()
end=time.perf_counter()
print(end-start)

5.750346400076523

In [179]:
import time

def stopwatch():
    print("Press Enter to start the stopwatch")
    input()
    start_time = time.time()
    print("Stopwatch started... Press Enter to stop")
    input()
    end_time = time.time()
    elapsed_time = end_time - start_time
    print(f"Elapsed time: {elapsed_time:.2f} seconds")

stopwatch()

Press Enter to start the stopwatch
Stopwatch started... Press Enter to stop
Elapsed time: 2.32 seconds

# DATETIME MODULE

In [ ]:
#current time 
# Days until a specific time
# convert a userinput from yyyy-mm-dd to dd-mm-yyyy

In [180]:
import datetime

now = datetime.datetime.now()
print("Current date and time:", now)

Current date and time: 2025-04-07 17:41:29.128370

In [181]:
specific_date = datetime.date(2025, 4, 6)
print("Specific date:", specific_date)

# Creating a specific time
specific_time = datetime.time(14, 30, 0)
print("Specific time:", specific_time)

Specific date: 2025-04-06
Specific time: 14:30:00

In [182]:
from datetime import datetime

# Define the target date
target_date = datetime(2025, 12, 31)

# Get the current date
current_date = datetime.now()

# Calculate the difference in days
days_until_target = (target_date - current_date).days

print(f"Days until {target_date.date()}: {days_until_target} days")

Days until 2025-12-31: 267 days

In [183]:
from datetime import datetime

# Function to convert date format
def convert_date_format(date_str):
    # Parse the input date string
    date_obj = datetime.strptime(date_str, '%Y %m %d')
    # Convert to the desired format
    formatted_date = date_obj.strftime('%d %m %Y')
    return formatted_date

# Example usage
user_input = "2025 04 07"
converted_date = convert_date_format(user_input)
print("Converted Date:", converted_date)

Converted Date: 07 04 2025

In [2]:
# Rabdom Data Generator 

# A Random Full name 
# A random age between 18 and 60
# A random 10 digit phone number 
# a random email based on their name 
# store the data in an nested dict

import random 

def rangen(f1,f2,j):
    l=''
    for i in range(random.randint(1,10)):
        l+=random.choice(f1)
    a=random.randint(18,60)
    pn=''
    for i in range(10):
        pn+=random.choice(f2)
    em=l
    for i in range(3):
        em+=random.choice(f2)
    em+='@gmail.com'
    f3={}
    f3[j]={'name':l,'age':int(a),'email':em,'phone':int(pn)}
    return f3


a1='poiuytrewqasdfghjklmnbvcxz '
n1='1234567890'
for i in range(1,11):
    print(rangen(a1,n1,i))

{1: {'name': 'tjjh', 'age': 47, 'email': 'tjjh238@gmail.com', 'phone': 6917130016}}
{2: {'name': 'bkig ', 'age': 39, 'email': 'bkig 558@gmail.com', 'phone': 2067196309}}
{3: {'name': 'mxsdjp', 'age': 30, 'email': 'mxsdjp040@gmail.com', 'phone': 6204884800}}
{4: {'name': 'tywbymrv', 'age': 47, 'email': 'tywbymrv425@gmail.com', 'phone': 8256399997}}
{5: {'name': 'jacn', 'age': 39, 'email': 'jacn660@gmail.com', 'phone': 7832252027}}
{6: {'name': 't', 'age': 49, 'email': 't075@gmail.com', 'phone': 7183860992}}
{7: {'name': ' fedj ir', 'age': 47, 'email': ' fedj ir510@gmail.com', 'phone': 7153130216}}
{8: {'name': 'gk', 'age': 28, 'email': 'gk926@gmail.com', 'phone': 2787459177}}
{9: {'name': ' mslth', 'age': 27, 'email': ' mslth724@gmail.com', 'phone': 9079439589}}
{10: {'name': 'dne kmxhpw', 'age': 53, 'email': 'dne kmxhpw365@gmail.com', 'phone': 1946704242}}

In [4]:
import random 
 
l=[2,3,4]
print(random.choice(l))

3

In [5]:
l=[1,2,3,4,5,6,7,'a','b','c']
s=set([i for i in l if i is not int])
print(s)

{1, 2, 3, 4, 5, 6, 7, 'b', 'a', 'c'}

In [7]:
for i in [(1,2,3)]:
    print(i)

(1, 2, 3)

In [11]:
def check():
    a=1 
    yield a 
    
    a+=2 
    yield a 
    
    a+=3 
    yield a 
    
x=check()
next(x)
next(x)
next(x)

6

In [43]:
n=int(input())
l=list(map(int,input().split()))
x=[]
print(l)
for i in range(len(l)):
    a=l[i:]
    s=len(a)
    if s<3:
        x.append(l[i])
    elif s%3==0:
        x.append(sum(a))
    elif (s-1)%3==0:
        x.append(sum(a[:s-1]))
    elif (s-2)%3==0:
        x.append(sum(a[:s-2])) 
print(x)
print(max(x))

[77, -584, -902, -702, 974, -137, -91, 109, 216, -467, 741, -931, -134, -48, 291, -6, -60, -479, -182, 905, 659, -629, 259, -108, 332, -738, -136, -474, -704, -967, 68, -364, -268, 442, 728, 664, -741, 491, -383, 827, -527, -494, 940, -989, -842, 640, -283]
[-4364, -3801, -3500, -2955, -1613, -2870, -3090, -2359, -2751, -3324, -2217, -3241, -2667, -1893, -2128, -2776, -2130, -2353, -2231, -1409, -2597, -3613, -2344, -2886, -3135, -2827, -2372, -2593, -1479, -1058, -448, 124, 205, 116, 314, -697, -1718, -337, -1111, -1085, -1272, -1028, -891, -1191, -485, 640, -283]
640

In [ ]:
10
2 1 3 9 2 4 -10 -9 1 3

In [ ]:
n=int(input())
l=list(map(int,input().split()))
x=[]
print(l)
for i in range(n):
    s=len(l[i:])
    if s<3:
        print(l[i])
        x.append(l[i])
    elif s%3==0:
        print(l[i:])
        x.append(sum(l[i:]))
    elif (s-1)%3==0:
        print(l[i:len(l)-1])
        x.append(sum(l[i:len(l)-1]))
    elif (s-2)%3==0:
        print(l[i:len(l)-2])
        x.append(sum(l[i:len(l)-2]))
print(x)
print(max(x))

[2, 1, 3, 9, 2, 4, -10, -9, 1, 3]
[2, 1, 3, 9, 2, 4, -10, -9, 1]
[1, 3, 9, 2, 4, -10, -9, 1, 3]
[3, 9, 2, 4, -10, -9]
[9, 2, 4, -10, -9, 1]
[2, 4, -10, -9, 1, 3]
[4, -10, -9]
[-10, -9, 1]
[-9, 1, 3]
1
3
[3, 4, -1, -3, -9, -15, -18, -5, 1, 3]
4

In [3]:
for i in range(10,-1,-1):
    s=i
    if (s-2)%2==0:
        print(s,'s-2')
    elif (s-1)%1==0:
        print(s,'s-1')

10 s-2
9 s-1
8 s-2
7 s-1
6 s-2
5 s-1
4 s-2
3 s-1
2 s-2
1 s-1
0 s-2

In [ ]:
    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [16]:

n=5
for i in range(n):
    print(' '*(n-i-1),end='')
    for j in range(i+1):
        print(j+1,end=' ')
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [ ]:
1
2 9
3 8 10
4 7 11 14 
5 6 12 13 15
l=[ i for i in range(1,16)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
n=5
for i in range(n):
    print((i+1))

In [20]:
def generate_pattern(n):
    arr = [[0 for _ in range(i + 1)] for i in range(n)]
    num = 1
    left = 0
    right = n - 1

    for i in range(n):
        if i % 2 == 0:
            arr[i][left] = num
            left += 1
        else:
            arr[i][right] = num
            right -= 1
        num += 1

    for i in range(1, n):
        for j in range(len(arr[i])):
            if arr[i][j] == 0:
                arr[i][j] = num
                num += 1

    for row in arr:
        print(row)

# Call the function
a=generate_pattern(5)

IndexError: list assignment index out of range

In [17]:
n=10
for i in range(n):
    if i<5:
        print(' '*i,'* '*((n//2)-i))
    elif i==5:
        continue
    else:
        print(' '*(n-i-1),'* '*(i-(n//2)+1))

 * * * * *
  * * * *
   * * *
    * *
     *
    * *
   * * *
  * * * *
 * * * * *

In [ ]:
* * * * *
 * * * *
  * * *
   * *
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
0 1 3 7
2 0 5 9
4 8 0 11
6 10 12 0

m**l
O*oy
Np**
O***

In [55]:
n=int(input())
c=1;d=2
for i in range(n):
    for j in range(n):
        if j==i:
            print('0',end=' ')
        elif j<i:
            print(d,end=' ')
            d+=2 
        else:
            print(c,end=' ')
            c+=2
    print()

0 1 3 5
2 0 7 9
4 6 0 11
8 10 12 0

In [ ]:
s='helloworldhero'
d=0
m=len(s)
for i in range(4):
    for j in range():
        c=i+j
        if j==0:
            print(s[i],end=' ')
            d+=1
        elif j==3-i:
            print(s[c+(4-i-1)],end=' ')
            d+=1
        elif j==3:
            if m>7:
                print(s[6+i],end=' ')
                m-=1 
            else:
                print('*',end=' ')
        else:
            print('*',end=' ')
    print()

h * * o
e * w r
l o * l
l * * d

In [ ]:
h***o
e*wr 
lo*l
l**d

In [77]:
n=int(input())
l=[i for i in range(1,n+1)]
for i in range(n,0,-1):
    if i==1 or i==n:
        print(*l,sep='')
    else:
        print('*'*(i-1),i,sep='')

1234
**3
*2
1234

In [ ]:
s='aaabccaab'
m=0
for i in range(len(s)-1):
    if s[i+1]==s[i]:
        m+=1 
    else:
        print(s[i]+str(m+1),end='')
        m=0
print(s[i+1]+str(m+1),end='')

a3b1c2a2b1

In [23]:
n=int(input())
l=[]
for i in range(n):
    m=[]
    for j in range(i+1):
        if j==0 or j==i:
            m.append(1)
        else:
            m.append(l[i-1][j-1]+l[i-1][j])
    l.append(m)
    print(*l[i])

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

In [ ]:
#insertion sort
#used for small data sets only
# O(n2)

l=list(map(int,input().split()))
for i in range(1,len(l)):
    for j in range(i-1,-1,-1):
        if l[j]>l[j+1]:
            l[j],l[j+1]=l[j+1],l[j]
        else: break 
print(l)

# j=i-1
# while j>0 and l[j]>l[j+11]:
#     l[j],l[j+1]=l[j+1],l[j]
#     j-=1

[1, 3, 4, 5, 8]

In [8]:
#selection sort 
#used for small data sets only
# O(n2)

l=list(map(int,input().split()))
for i in range(len(l)):
    c=i
    for j in range(i+1,len(l)):
        if l[j]<l[c]:
            c=j
    if c!=i:
        l[i],l[c]=l[c],l[i] 
print(l)

[1, 2, 3, 4, 7, 8, 9]

In [ ]:
#bubble sort - moves highest element to last first 
#used for small data sets only
# O(n2)

l=list(map(int,input().split()))
for i in range(len(l)-1):
    for j in range(len(l)-1-i):
        if l[j]>l[j+1]: 
            l[j],l[j+1]=l[j+1],l[j]
print(l)

[1, 2, 2, 3, 5, 5, 6, 9]

In [14]:
#mergesort - best for large datasets 
#divide and conquer algorithm
# O(nlogn)

def toseperate(l):
    if len(l)<=1:
        return l
    
    f1=toseperate(l[:len(l)//2])
    f2=toseperate(l[len(l)//2:])
    
    return tomerge(f1,f2)
    
def tomerge(f1,f2):
    i,j=0,0 
    k=[]
    while i<len(f1) and j<len(f2):
        if f1[i]<f2[j]:
            k.append(f1[i])
            i+=1 
        else:
            k.append(f2[j])
            j+=1 
    k.extend(f1[i:]) 
    k.extend(f2[j:])
    return k
        
l=list(map(int,input().split())) 
print(toseperate(l))

[1, 2, 4, 5, 6, 7, 9]

In [ ]:
#quick sort - divide and conquer algorithm
# O(n2) -wrost case

In [ ]:
#stack - LIFO
# push/pop - O(1)
# search - O(n)

from collections import deque

s=deque()

s.append(5)
s.append(10)
s.pop()

#clear to remove all items

AttributeError: 'collections.deque' object has no attribute 'isempty'

In [ ]:
#queue - loose coupling - FIFO 
# push/pop - O(1)
# search - O(n)


l=[]
l.insert(0,131)
l.insert(0,132)

print(l)

l.pop() #first element inserted will be popped -131 
l.pop() #next elemnet 

print(l)

#but list not that efficient so we use deque 

from collections import deque 

d=deque()

d.appendleft(123)
d.appendleft(124)
d.pop()
d

[132, 131]
[]

deque([124])