# REGEX

In [1]:
import re

s='DEV25001'
pattern='[A-Z]{3}[0-9]{2}[0-9]{3}'

print(re.match(pattern,s))

<re.Match object; span=(0, 8), match='DEV25001'>

# FINDALL

In [ ]:
txt='The rain in spain is good'
x=re.findall('ai',txt)
print(x) #list

['ai', 'ai']

# SEARCH()

In [4]:
import re 

txt='The rain in spain is good'
x=re.search('ai',txt)
print(x) #boolean type

if x:
    print('IN TXT')

else: print('NO')

<re.Match object; span=(5, 7), match='ai'>
IN TXT

In [48]:
t= 'hi rey say hi i am'
print(re.search('hi',t))

<re.Match object; span=(0, 2), match='hi'>

# SPLIT()

In [5]:
txt='The rain in spain is good'
x=re.split('ai',txt)
print(x)

['The r', 'n in sp', 'n is good']

In [ ]:
txt='The rain in Spain is good'
x=re.split(r"\s",txt) #\s is special character to split
print(x)

['The', 'rain', 'in', 'Spain', 'is', 'good']

In [11]:
txt='The rain in Spain is good'
x=re.split(r"\s",txt,2)
print(x)

['The', 'rain', 'in Spain is good']

# SUB()

In [12]:
txt='The rain in Spain is good'
x=re.sub('The',"There",txt)
print(x)

There rain in Spain is good

In [15]:
txt='The rain in Spain is good The'
x=re.sub('The',"There",txt)
print(x)

There rain in Spain is good There

In [17]:
txt='The rain in Spain is good'
x=re.sub(r'\s','9',txt)
print(x)

The9rain9in9Spain9is9good

In [21]:
t='This is a $string with "%" special^ characters!' 
print(len(t))
p=r'[^a-zA-Z0-9\s]+'
s=re.sub(p,' ',t)
print(s)
print(len(s))

47
This is a  string with   special  characters
45

# IF STRING ENDS WITH . PRINT YES ELSE NO

In [31]:
t='Nivas.' 
k=re.search(r'[.$]',t)
if k:
    print('ENDS WITH .')
else: print('No')

ENDS WITH .

# PRINT ONLY NUMBERS

In [ ]:
t='I HAVE 12 apples and 20 bananas'
k=re.findall(r'\d+',t) #\d gives only numbers
print(k)

['12', '20']

# MATCH FUNCTION

In [44]:
t= 'say hi i am'
print(re.match('hi',t))

None

In [45]:
t= 'hi rey say hi i am'
print(re.match('hi',t))

<re.Match object; span=(0, 2), match='hi'>

In [46]:
t= 'say hi i am'
print(re.search('hi',t))

<re.Match object; span=(4, 6), match='hi'>

In [47]:
t= 'hi rey say hi i am'
print(re.search('hi',t))

<re.Match object; span=(0, 2), match='hi'>

In [ ]:
t='I HAVE 12 apples and 20 bananas'

t=re.search(r'\d+',t)
print(t)   #gives only first occurrence

<re.Match object; span=(7, 9), match='12'>

In [ ]:
# group() convert span,match to real string values

t='I HAVE 12 apples and 20 bananas'

t=re.search(r'\d+',t)
print(t.group())

12

In [ ]:
t='I HAVE 12 apples and 20 bananas'

t=re.findall(r'\d+',t)
print(t)           # prints all occurrences

['12', '20']

# \b - search specific pattern at beginning or ending of the string

In [63]:
import re

txt='python is Developed by Guido van Rossum in NETHERLands'

print(re.findall(r'\b[A-Z][a-z]*\b',txt))

['Developed', 'Guido', 'Rossum']

# funnction in regex

In [64]:
def dobleit(x):
    n=int(x.group())
    return str(n*2)

t='the cost is 10 ruppee and 25 paisa'
print(re.sub(r'\d+',dobleit,t))

the cost is 20 ruppee and 50 paisa

In [67]:
txt='You are a dumb one and very badass'

b=r'\bdumb|badass\b'
print(re.sub(b,'censored',txt))

You are a censored one and very censored

In [77]:
t='name: Nivas,Age: 25,class: Python'

m=re.search(r'name: (\w+),Age: (\d+),class: (\w+)',t)

if m:
    print('FULL MATCH :',m.group())
    print('name :',m.group(1))
    print('Age :',m.group(2))
    print(m.group(3))

FULL MATCH : name: Nivas,Age: 25,class: Python
name : Nivas
Age : 25
Python

# MULTIPLE SPLITS USING RE SPLIT()

In [79]:
t='apple;banana,litchi/berry'
r=re.split(r'[/;,]',t)
print(r)

['apple', 'banana', 'litchi', 'berry']

In [80]:
t='apple;banana,litchi/berry'
r=re.split(r'[/;,\s]+',t)
print(r)

['apple', 'banana', 'litchi', 'berry']

# MAXSPLIT

In [ ]:
t='one-two-three-four-five'

print(re.split(r'-',t,maxsplit=2))

['one', 'two', 'three-fout-five']

# SUBN

In [86]:
print(re.subn(r'\d+','#','1234 657 890'))

('# # #', 3)

In [84]:
print(re.sub(r'\d+','#','1234 657 890'))

# # #

# COMPLIER

In [ ]:
# 


p=re.compile(r'\d+')
print(p.findall('123 456'))

['123', '456']

In [88]:
p=re.compile(r'[a-z]\b')
print(p.findall('123k 456'))

['k']

# CHECK A MAIL ID

In [131]:
import re 

t=['ni12vas@gmail.com','helloworld@.com','jink@yahoo.com','89fhjyf90890@gm.com']

p=re.search(r'\b[a-z][a-z0-9]+\d*@[a-z]+?.com',t[3])
if p:
    print('MATCH')
else:
    print("NO")

NO

# FINDiter

In [135]:
t='python 3.8 was releasede in 2019, and python 9.9 in 2020'

p=re.finditer(r'python [0-9].\d',t)

for i in p:
    print(i.group(),'at position :',i.span())

python 3.8 at position : (0, 10)
python 9.9 at position : (38, 48)

# START END IN REGEX

In [137]:
r='email : nivas@yahoo.com'

m=re.search(r'\w+@\w+\.\w+',r)

if m:
    print(m.group())
    print(m.start())
    print(m.end())
    print('Span(START,END) :',m.span())

nivas@yahoo.com
8
23
Span(START,END) : (8, 23)

# IGNORECASE or re.I

In [138]:
import re 

t='Hello world'
m=re.compile(r'hello',re.IGNORECASE)
f=m.search(t)
print(f.group())

Hello

In [139]:
import re 

t='Hello world'
m=re.compile(r'hello',re.I)
f=m.search(t)
print(f.group())

Hello

# re.DOTALL or re.S

In [142]:
t='Hello\nWorld'
p=re.compile(r'Hello.World',re.DOTALL)
m=p.search(t)
print(m.group())

Hello
World

# re.VERBOSE or

In [ ]:
# to remove comments in expression lines

# re.ASCII or re.A

In [144]:

p=re.compile(r'\w+',re.ASCII)
print(p.findall('café café'))

['caf', 'caf']

In [164]:
import random

random.seed(7)
print(random.randint(1,10))

6

In [196]:
import random

random.seed(0)
print(random.randint(1,10))

7

In [200]:
value = [1, 2, 3, 4, 5]
try:
    value = value[5]/0
except (ZeroDivisionError):
    print('GeeksforGeeks ', end = '')
except (IndexError):
    print('GeeksforGeeks index', end = '')
else:
    print('GFG ', end = '')
finally:
    print('Geeks ', end = '')

GeeksforGeeks indexGeeks

In [ ]:
def REVERSE(L):
    L.reverse()
    return(L)
def YKNJS(L):
    List = []
    List.extend(REVERSE(L))
    print(List)

L = [1, 3.1, 5.31, 7.531]
YKNJS(L)

[7.531, 5.31, 3.1, 1]

In [206]:
a = [2, 4, 6]
def solve(a):
   print(id(a))
   return a
print(id(a))
solve(a)
print(a)

1922948872384
1922948872384
[2, 4, 6]